body{
    font-family: 'Poppins', sans-serif;
    color: #666;
}



.header{
   position: relative;
    background-size: cover;
    background-position: center ;
   
}

.navbar{
    position:fixed;
    z-index: 999;
    left: 0;
    right: 0;

}
.navbar .container .nav-link:hover{
    color: #f25454;
}

.carousel-inner .carousel-caption{
font-weight: 700;
line-height: 1;
}




.typing::after{
    content: "|";
    color: #fff;
    animation-name: typing;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    0%{ content: "|"; }
    1%{ content: "F|"; }
    2%{ content: "Fr|"; }
    3%{ content: "Fre|"; }
    4%{ content: "Free|"; }
    5%{ content: "Freel|"; }
    6%{ content: "Freela|"; }
    7%{ content: "Freelan|"; }
    8%{ content: "Freelanc|"; }
    9%{ content: "Freelance|"; }
    10%{ content: "Freelancer|"; }
    11%{ content: "Freelance|"; }
    12%{ content: "Freelanc|"; }
    13%{ content: "Freelan|"; }
    14%{ content: "Freela|"; }
    16%{ content: "Freel|"; }
    18%{ content: "Free|"; }
    20%{ content: "Fre|"; }
    22%{ content: "Fr|"; }
    24%{ content: "|"; }
    26%{ content: "P|"; }
    28%{ content: "Ph|"; }
    30%{ content: "Pho|"; }
    32%{ content: "Phot|"; }
    34%{ content: "Photo|"; }
    38%{ content: "Photog|"; }
    40%{ content: "Photogr|"; }
    42%{ content: "Photogra|"; }
    46%{ content: "Photograp|"; }
    48%{ content: "Photograph|"; }
    50%{ content: "Photographe|"; }
    52%{ content: "Photographer|"; }
    54%{ content: "Photographe|"; }
    56%{ content: "Photograph|"; }
    58%{ content: "Photograp|"; }
    60%{ content: "Photogra|"; }
    61%{ content: "Photogr|"; }
    62%{ content: "Photog|"; }
    63%{ content: "Photo|"; }
    64%{ content: "Phot|"; }
    65%{ content: "Pho|"; }
    66%{ content: "Ph|"; }
    67%{ content: "P|"; }
    68%{ content: "|"; }
    69%{ content: "D|"; }
    70%{ content: "De|"; }
    71%{ content: "Des|"; }
    72%{ content: "Desi|"; }
    73%{ content: "Desig|"; }
    74%{ content: "Design|"; }
    78%{ content: "Designe|"; }
    79%{ content: "Designer|"; }
    80%{ content: "Designe|"; }
    81%{ content: "Design|"; }
    82%{ content: "Desig|"; }
    83%{ content: "Desi|"; }
    84%{ content: "Des|"; }
    85%{ content: "De|"; }
    86%{ content: "D|"; }
    87%{ content: "|"; }
    88%{ content: "D|"; }
    89%{ content: "De|"; }
    90%{ content: "Dev|"; }
    91%{ content: "Deve|"; }
    92%{ content: "Devel|"; }
    93%{ content: "Develo|"; }
    94%{ content: "Develop|"; }
    95%{ content: "Develope|"; }
    96%{ content: "Developer|"; }
    96.5%{ content: "Develope|"; }
    97%{ content: "Develop|"; }
    97.5%{ content: "Develo|"; }
    98%{ content: "Devel|"; }
    98.5%{ content: "Deve|"; }
    99%{ content: "Dev|"; }
    99.2%{ content: "De|"; }
    99.4%{ content: "D|"; }
    100%{ content: "|"; }
}

.about:hover .line{
    width: 60px;
}
.line{
    width: 45px;
    height: 1px;
    margin: auto;
    background-color: #09c;
}
.about-txt{
    width: 85%;
    margin: auto;
}

div .inner{
    height: 4px;
    background-color: rgba(143, 143, 153, 0.6);
}
div .inner-branding{
    height: 4px;
    width: 80%;
    background-color: #f25454;
}
div .inner-web{
    height: 4px;
    width: 95%;
    background-color: #f25454;
}
div .inner-graphic{
    height: 4px;
    width: 85%;
    background-color: #f25454;
}
div .inner-development{
    height: 4px;
    width: 70%;
    background-color: #f25454;
}


div .branding-per{
    width: 80%;
    position: relative;
}
div .web-per{
    width: 95%;
    position: relative;
}
div .graphic-per{
    width: 85%;
    position: relative;
}
div .development-per{
    width: 70%;
    position: relative;
}
div .per{
    position: absolute;
    right: 0;
    top: 0;
}




/* our team */
.member .photo{
    position: relative;
    width: 100%;
    overflow: hidden;

}
.member .photo img{
    transition-duration: 1s;
}

.bak{
    display: none;
    position: absolute;
    background-color: rgba(242, 84, 84, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: center;


}
.member:hover .bak 
{
    display: flex;
}
.member:hover h5{
    color: rgb(242, 84, 84);
}
.member:hover img{
    transform: scale(1.1);
    
}



/* form */
.form h3{
    color: black !important;
    font-weight: 600 !important;
    font-size: 32px;
    line-height: 32px;
}
.field{
    width: 100%;
    line-height: 1;
    padding: 14px 18px;
    /* color: #a6a6a6; */
    border-radius: 3px;
    outline: none;
    border: 2px solid #eee;
    background-color: #fff;
    transition: border-color 0.15s ease-in;

}
.field:focus{
    border: 2px solid #f25454;

}
textarea{
    height: 110px;

}





.setting-icon i{
    width: 39px;
    height: 39px;
    position:fixed;
    z-index: 9999;
    right: 10px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#1f2528;;
}
.container .row h3 i{
    color:  #f25454;
    font-size: 28px;
    margin-right: 20px;
    text-align: center;
    transition: all 0.3s;

}
.container .row h3:hover{
    color: #f25454;
}
.container hr{
    width: 45px;
    height: 1px;
    margin: auto;
   
    border-color: #000;

}
.container .row .span h3:hover hr{
    width: 60px;
}

.line{
    width: 40px;
    height: 5px;
    margin: auto;
    color:#1f2528;
}
.container .row h3{
    font-size: 18px;
}


.row-contant hr{
    width: 50px;
    height: 2px;
    margin-top: 10px
}
.contact-c .row{
    
 background-color: #222222;
}

.container .row .contact-text i{
    color:  #f25454;
    font-size: 30px;
   
}

.container-fluid .col-md-3 a{
    text-decoration: none;
    color:#b0b0b0;;
}
.container-fluid .col-md-3 {
    color: #b0b0b0;
}
.container-fluid .col-md-3 .tag {
    border:solid 1px #eee;

}